@model SATNET.WebApp.Models.Invoice.MRCInvoiceViewModel


<div id="MainContents">
    @await Html.PartialAsync("_Common")
    <div class="row">
        <div class="col-md-12">
            <div class="invoice overflow-auto">
                <div style="min-width: 600px">
                    @await Html.PartialAsync("_CommonHeader")
                    <main>
                        @await Html.PartialAsync("_CommonHeader2", Model)
                        <table border="0" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="text-left" style="width:5%">#</th>
                                    <th class="text-left" style="width:25%">Item</th>
                                    <th class="text-left" style="width:40%">Description</th>
                                    <th class="text-right" style="width:10%">Unit</th>
                                    <th class="text-right" style="width:10%">Rate($)</th>
                                    <th class="text-right" style="width:10%">Amount($)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 0;
                                }
                                @foreach (var item in Model.InvoiceItems)
                                {
                                    <tr>
                                        <td class="text-left">
                                            @{
                                                counter++;
                                            }
                                            @counter
                                        </td>
                                        <td class="text-left">
                                            <span>@item.Item</span>
                                        </td>
                                        <td class="text-left">@item.Description</td>
                                        <td class="unit">@item.Unit</td>
                                        <td class="unit">@item.Rate</td>
                                        @if (item.ItemTypeId == 88)
                                        {
                                            <td class="total">- @item.Amount</td>
                                        }
                                        else
                                        {
                                            <td class="total">@item.Amount</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>TOTAL $</td>
                                    <td> @Model.Total</td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="thanks">Thank you!</div>
                        @*<div class="notices">
                                <div>NOTICE:</div>
                                <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                            </div>*@
                    </main>
                    <footer>
                        Invoice was created on a computer and is valid without the signature and seal.
                    </footer>
                </div>
                <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                <div></div>
            </div>
        </div>
    </div>
</div>

