@model IEnumerable<SATNET.WebApp.Models.Order.OrderViewModel>
@using SATNET.WebApp.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var user = await UserManager.GetUserAsync(User);
}

<div class="table-responsive dataTables_wrapper dt-bootstrap4 mt-2">
    <table id="grid_table" class="align-middle  table table-sm table-hover dataTable" role="grid" aria-describedby="">
        <thead>
            <tr>
                @*<th class="text-center" width="30">
                         <input type="checkbox">
                    </th>*@
                <th class="text-center">#</th>
                <th>Order Number</th>
                <th> Site </th>
                <th> Subscriber </th>
                <th> Request Type </th>
                <th> Scheduled Date</th>
                <th> Order Date </th>
                <th> Order Status </th>
                <th class="text-center"> </th>
            </tr>
        </thead>

        <tbody>

            @{
                int counter = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    @*<td class="text-center"> <input type="checkbox"></td>*@
                    <td class="text-center text-muted">
                        @{
                            counter++;
                        }
                        @counter
                    </td>
                    <td>
                        <a href="@String.Format("/{0}?id={1}", "Order/ViewOrder", @item.Id)" title="View Order Details" class="pl-1 pr-1 orderdetails">@item.OrderNumber</a>
                    </td>
                    <td> @item.SiteName</td>
                    <td>@item.SubscriberName</td>
                    <td> @item.RequestTypeName</td>
                    <td> @item.ScheduleDateName</td>
                    <td>@item.ServiceOrderDate</td>
                    <td>
                        @if (item.StatusId == 22)//rejected
                        {
                            <a href="#" data-id="@item.Id" data-action="Reject" class="pl-1 pr-1 rejected-order" title="View Reason" data-reason="@item.RejectReason" data-toggle="modal" data-target="#modal-rejectreason">
                                @item.StatusName
                            </a>
                        }
                        else if(item.StatusId == 111)//cancelled
                        {
                            <a href="#" data-id="@item.Id" data-action="Cancel" class="pl-1 pr-1 rejected-order" title="View Reason" data-reason="@item.RejectReason" data-toggle="modal" data-target="#modal-rejectreason">
                                @item.StatusName
                            </a>
                        }
                        else
                        {
                            @item.StatusName
                        }
                    </td>
                    <td class="text-center">
                        <div class="buttons">
                            @if (User.IsInRole("Admin") || User.IsInRole("NOC"))
                            {
                                if (item.StatusId == 20)
                                {
                                    // display accept/reject buttons for USAT Admin

                                    <a href="#" data-id="@item.Id" data-action="Accept" data-customerid="@item.CustomerId" data-customercode="@item.CustomerCode" title="Complete Service Order" class="pl-1 pr-1 order-action" data-toggle="modal" data-target="#modal-acceptOrderConfirm">
                                        <span class="metismenu-icon icofont-tick-mark" aria-hidden="true"></span>
                                    </a>
                                    <a href="#" data-id="@item.Id" data-action="Reject" title="Reject Service Order" class="pl-1 pr-1 order-action" data-toggle="modal" data-target="#modal-rejectOrderConfirm">
                                        <span class="metismenu-icon icofont-close" aria-hidden="true"></span>
                                    </a>

                                }
                            }
                            else if (User.IsInRole("Reseller Accounting") || User.IsInRole("Reseller Operations"))
                            {
                                if (item.StatusId == 20)
                                {
                                    @*<a href="@String.Format("/{0}?id={1}", "Order/Cancel", @item.Id)" title="Cancel Service Order" class="pl-1 pr-1 modal-pan" data-toggle="modal" data-target="#modal-deleteConfirm">

                                        <span class="metismenu-icon icofont-close-squared" aria-hidden="true"></span>
                                    </a>*@
                                    <a href="#" data-id="@item.Id" data-action="Cancel" title="Cancel Service Order" class="pl-1 pr-1 order-action" data-toggle="modal" data-target="#modal-rejectOrderConfirm">
                                        <span class="metismenu-icon icofont-close" aria-hidden="true"></span>
                                    </a>
                                }

                            }
                            @*else if (User.IsInRole("Reseller Operations"))
        {
            if (item.StatusId == 20)
            {
                <a href="@String.Format("/{0}?id={1}", "Order/Cancel", @item.Id)" title="Cancel Service Order" class="pl-1 pr-1 modal-pan" data-toggle="modal" data-target="#modal-deleteConfirm">

                    <span class="metismenu-icon icofont-close-squared" aria-hidden="true"></span>
                </a>
            }
        }*@
                            else if (User.IsInRole("Accounting"))
                            {
                                if (item.StatusId == 21)
                                {
                                    // display invoice link for customer reseller accounts
                                    <a href="@String.Format("/{0}?id={1}", "Order/Details", @item.Id)" title="View Invoice" class="pl-1 pr-1">
                                        <span class="metismenu-icon icofont-bill" aria-hidden="true"></span>
                                    </a>
                                }
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

