@model SATNET.WebApp.Models.Order.OrderViewModel
@using SATNET.Domain.Enums

<form method="post" data-ajax="true" asp-controller="Order" asp-action="Add" data-ajax-method="post"
      enctype="multipart/form-data" autocomplete="off">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Add Service Order
                    <div class="page-title-subheading">
                        Please fillout following form
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <a href="@String.Format("/{0}", "Order/Index")" class=" btn btn-danger">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-default">Submit Order</button>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="col-lg-3">
                <div class="position-relative form-group">
                    <label>Customer: @Model.CustomerName</label>
                </div>
            </div>
        </div>*@
<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-lg-3">
        <div class="form-group">
            <label asp-for="RequestTypeSelectList"></label>
            <select asp-for="RequestTypeId" asp-items="Model.RequestTypeSelectList" class="form-control select2 text-input">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="RequestTypeId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 select-customer">
        <div class="form-group">
            <label>Customer</label>
            <select asp-for="CustomerId" asp-items="Model.CustomerSelectList" class="form-control select2 text-input">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 select-site">
        <div class="form-group">
            <label asp-for="SiteSelectList"></label>
            <select asp-for="SiteId" asp-items="Model.SiteSelectList" class="form-control select2 text-input">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="SiteId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>Schedule Date</label>
            <select asp-for="ScheduleDateId" asp-items="Model.ScheduleDateSelectList" class="form-control select2 text-input">
                <option value="" selected>Select</option>
            </select>
            <input type="hidden" asp-for="ScheduleDateId" id="hdnScheduleDateId" />
            <span asp-validation-for="ScheduleDateId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-12 new-site">
        <h5 class="title">New Site Details</h5>
    </div>
    <div class="col-lg-3 new-site subscriber">
        <div class="position-relative form-group">
            <label>Subscriber Name</label>
            <input asp-for="SubscriberName" type="text" placeholder="..." class="form-control" />
            <span asp-validation-for="SubscriberName" class="text-danger"></span>
        </div>
    </div>
    @*<div class="col-lg-3 new-site site-name">
            <div class="form-group">
                <label>Name</label>
                <input type="text" asp-for="SiteName" class="form-control" readonly="readonly" />
                <span asp-validation-for="SiteName" class="text-danger"></span>
            </div>
        </div>*@
    <div class="col-lg-3 new-site">
        <div class="form-group">
            <label>City</label>
            <select asp-for="SiteCityId" asp-items="Model.SiteCitySelectList" class="form-control select2 text-input">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="SiteCityId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 new-site">
        <div class="form-group">
            <label>Area</label>
            <input type="text" asp-for="SiteArea" class="form-control" readonly="readonly" />
        </div>
    </div>
    <div class="col-lg-3 new-site">
        <div class="position-relative form-group">
            <label asp-for="InstallationDate"></label>
            <input asp-for="InstallationDate" type="date" placeholder="..." class="form-control" value="" />
            <span asp-validation-for="InstallationDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 new-site">
        <div class="form-group">
            <label asp-for="ServicePlanTypeSelectList"></label>
            <select asp-for="ServicePlanTypeId" asp-items="Model.ServicePlanTypeSelectList" data-section="newsite" class="form-control select2 text-input service-plantype">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="ServicePlanTypeId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 new-site">
        <div class="form-group">
            <label asp-for="ServicePlanSelectList"></label><span class="unit-serviceplan"></span>
            <select disabled asp-for="ServicePlanId" asp-items="Model.ServicePlanSelectList" class="form-control select2 text-input service-plan">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="ServicePlanId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 pro-rata-gb">
        <div class="form-group">
            <label>Pro Rata (GB) </label>
            <input id="txtProRataGB" type="text" class="form-control" readonly="readonly" />
        </div>
    </div>
    <div class="col-lg-3 dedicated-serviceplan">
        <div class="form-group">
            <label>Dedicated Service Plan(Mbps)</label>
            <select asp-for="DedicatedServicePlanName" class="form-control select2 text-input">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="DedicatedServicePlanName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 custom-dedicated-serviceplan">
        <div class="form-group">
            <label>Dedicated Service Plan(Mbps)</label>
            <input type="text" asp-for="DedicatedServicePlanName" placeholder="..." class="form-control" />
            <span asp-validation-for="DedicatedServicePlanName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 new-site">
        <div class="position-relative form-group">
            <label asp-for="IPSelectList"></label>
            <select asp-for="IPId" asp-items="Model.IPSelectList" class="form-control select2 text-input">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="IPId" class="text-danger"></span>
        </div>
    </div>
    @*<div class="col-lg-3 new-site">
            <div class="position-relative form-group">
                <label asp-for="Download"></label>
                <input asp-for="Download" type="text" placeholder="Download" class="form-control text-input" />
                <span asp-validation-for="Download" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3 new-site">
            <div class="position-relative form-group">
                <label asp-for="Upload"></label>
                <input asp-for="Upload" type="text" placeholder="Upload" class="form-control text-input" />
                <span asp-validation-for="Upload" class="text-danger"></span>
            </div>
        </div>*@
    <div class="col-lg-12 hardware">
        <h5 class="title">Hardware Details</h5>
    </div>
    <div class="col-lg-3 hardware">
        <div class="form-group">
            <label>MAC AIR Number</label>
            <select asp-for="MacAirNoId" asp-items="Model.MacAirNoSelectList" class="form-control select2 text-input">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="MacAirNoId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 hardware">
        <div class="form-group">
            <label>Condition</label>
            <select asp-for="HardwareConditionId" asp-items="Model.HardwareConditionSelectList" class="form-control select2 text-input">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="HardwareConditionId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-12 new-site">
        <h5 class="title">Promotion</h5>
    </div>
    <div class="col-lg-3 new-site">
        <div class="position-relative form-group">
            <label asp-for="PromotionSelectList"></label>
            <select asp-for="PromotionId" asp-items="Model.PromotionSelectList" class="form-control select2 text-input">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="PromotionId" class="text-danger"></span>
        </div>
    </div>
    @*<div class="col-lg-12 new-site subscriber">

            <h5 class="title">Subscriber Details</h5>
        </div>
        <div class="col-lg-3 new-site subscriber">
            <div class="position-relative form-group">
                <label asp-for="SubscriberName"></label>
                <input asp-for="SubscriberName" type="text" placeholder="..." class="form-control" />
                <span asp-validation-for="SubscriberName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3 new-site subscriber">
            <div class="position-relative form-group">
                <label asp-for="SubscriberCity"></label>
                <input asp-for="SubscriberCity" type="text" placeholder="..." class="form-control" />
                <span asp-validation-for="SubscriberCity" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3 new-site subscriber">
            <div class="position-relative form-group">
                <label asp-for="SubscriberEmail"></label>
                <input asp-for="SubscriberEmail" type="text" placeholder="..." class="form-control" />
                <span asp-validation-for="SubscriberEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3 new-site subscriber">
            <div class="position-relative form-group">
                <label asp-for="SubscriberArea"></label>
                <input asp-for="SubscriberArea" type="text" placeholder="..." class="form-control" />
                <span asp-validation-for="SubscriberArea" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3 new-site subscriber">
            <div class="position-relative form-group">
                <label asp-for="SubscriberNotes"></label>
                <input asp-for="SubscriberNotes" type="text" placeholder="..." class="form-control" />
            </div>
        </div>*@
    <div class="col-lg-12 upgrade">
        <h5 class="title">Upgrade</h5>
    </div>
    <div class="col-lg-3 upgrade">
        <div class="form-group">
            <label asp-for="ServicePlanTypeSelectList"></label>
            <select id="upgradeServicePlanType" asp-for="ServicePlanTypeId" asp-items="Model.ServicePlanTypeSelectList" data-section="upgrade" class="form-control select2 text-input service-plantype">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="ServicePlanTypeId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 upgrade">
        <div class="position-relative form-group">
            <label asp-for="UpgradeFromSelectList"></label><span class="unit-upgrade"></span>
            <select disabled asp-for="UpgradeFromId" asp-items="Model.UpgradeFromSelectList" class="form-control select2 text-input service-plan">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="UpgradeFromId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 upgrade">
        <div class="position-relative form-group">
            <label asp-for="UpgradeToSelectList"></label><span class="unit-upgrade"></span>
            <select disabled asp-for="UpgradeToId" asp-items="Model.UpgradeToSelectList" class="form-control select2 text-input service-plan">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="UpgradeToId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-12 downgrade">
        <h5 class="title">Downgrade</h5>
    </div>
    <div class="col-lg-3 downgrade">
        <div class="form-group">
            <label asp-for="ServicePlanTypeSelectList"></label>
            <select id="downgradeServicePlanType" asp-for="ServicePlanTypeId" asp-items="Model.ServicePlanTypeSelectList" data-section="downgrade" class="form-control select2 text-input service-plantype">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="ServicePlanTypeId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 downgrade">
        <div class="position-relative form-group">
            <label asp-for="DowngradeFromSelectList"></label><span class="unit-downgrade"></span>
            <select disabled asp-for="DowngradeFromId" asp-items="Model.DowngradeFromSelectList" class="form-control select2 text-input service-plan">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="DowngradeFromId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 downgrade">
        <div class="position-relative form-group">
            <label asp-for="DowngradeToSelectList"></label><span class="unit-downgrade"></span>
            <select disabled asp-for="DowngradeToId" asp-items="Model.DowngradeToSelectList" class="form-control select2 text-input service-plan">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="DowngradeToId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-12 downgrade">
        <div class="position-relative form-group">
            <label id="downgrade-note" style="display:none; color:red;">Note:- Downgrades are executed on last date of the month</label>
        </div>
    </div>
    <div class="col-lg-12 token">
        <h5 class="title">Token Top-Up</h5>
    </div>
    <div class="col-lg-3 token">
        <div class="position-relative form-group">
            <label asp-for="TokenSelectList"></label>
            <select asp-for="TokenId" asp-items="Model.TokenSelectList" class="form-control select2 text-input">
                <option value="" hidden disabled selected>Select</option>
            </select>
            <span asp-validation-for="TokenId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-12 other">
        <h5 class="title">Other</h5>
    </div>
    <div class="col-lg-3 other">
        <div class="position-relative form-group">
            <label>Specify</label>
            <input asp-for="Other" type="text" placeholder="..." class="form-control" />
            <span asp-validation-for="Other" class="text-danger"></span>
        </div>
    </div>
</div>
</form>

<input id="hdnUnitGb" type="hidden" value="(@ServiceUnit.GBPerMonth)" />
<input id="hdnUnitMb" type="hidden" value="(@ServiceUnit.Mbps)" />
<input id="hdnCustomerId" type="hidden" value="@ViewBag.CustomerId" />
<!-- /.Main content -->

@section scripts{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
    <script src="~/js/order/order-add.js"></script>
}
