@model SATNET.WebApp.Models.Order.OrderViewModel

<div id="MainContents">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    @*Invoice #35845 - Ella-Rose*@
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
            <div class="page-title-actions">

                <div class="d-inline-block dropdown">

                    <div class="dropdown d-inline-block">
                        <button type="button" data-toggle="dropdown" class="mb-0 ml-2  btn  btn btn-info">Print / Export  <i class="fa fa-angle-down ml-2"></i></button>
                        <div tabindex="-1" role="menu" class="dropdown-menu">
                            <button type="button" tabindex="0" class="dropdown-item">PDF</button>
                            <button type="button" tabindex="0" class="dropdown-item">CSV</button>
                            <button type="button" tabindex="0" class="dropdown-item">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="invoice overflow-auto">
                <div style="min-width: 600px">
                    <header>
                        <div class="row">
                            <div class="col">

                                <img src="~/Themes/QMSN/Resources/img/logo-icon.png" style="max-height:100px;" />

                            </div>
                            <div class="col company-details">
                                <h2 class="name">

                                    Universal Satnet

                                </h2>
                                <div>455 Foggy Heights, AZ 85004, UAE</div>
                                <div>(123) 456-789</div>
                                <div>sales@universalsatcom.com</div>
                            </div>
                        </div>
                    </header>
                    <main>
                        <div class="row contacts">
                            <div class="col invoice-to">
                                <div class="text-gray-light">INVOICE TO:</div>
                                <h2 class="to">@Model.SubscriberName</h2>
                                <div class="address">@Model.SubscriberCity , @Model.SubscriberArea</div>
                                <div class="email"><a href="">@Model.SubscriberEmail</a></div>
                            </div>
                            <div class="col invoice-details">
                              @*  <h1 class="invoice-id">INVOICE 3-2-1</h1>*@
                                <div class="date">Date of Invoice: @DateTime.Now.ToShortDateString()</div>
                                <div class="date">Due Date: @DateTime.Now.AddDays(30).ToShortDateString()</div>
                            </div>
                        </div>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="no">#</th>
                                    <th class="text-left">Description</th>
                                    <th class="text-right">Price</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="no">1</td>
                                    <td class="text-left">
                                        <h3>
                                            Service Plan
                                        </h3>
                                        @Model.ServicePlanName
                                        - @Model.ServicePlanUnit
                                    </td>
                                    <td class="unit">$ @Model.ServicePlanPrice</td>
                                    <td class="total">$ @Model.ServicePlanProRataPrice</td>
                                </tr>
                                <tr>
                                    <td class="no">2</td>
                                    <td class="text-left">
                                        <h3>
                                            Hardware
                                        </h3>
                                        @Model.HardwareModel
                                    </td>
                                    <td class="unit">$ @Model.HardwarePrice</td>
                                    <td class="total">$ @Model.HardwarePrice</td>
                                </tr>
                                <tr>
                                    <td class="no">3</td>
                                    <td class="text-left">
                                        <h3>
                                            IP
                                        </h3>
                                        @Model.IPName
                                    </td>
                                    <td class="unit">$ @Model.IPPrice</td>
                                    <td class="total">$ @Model.IPPrice</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                @*<tr>
                                        <td colspan="2"></td>
                                        <td colspan="2">SUBTOTAL</td>
                                        <td>$0.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="2">TAX 25%</td>
                                        <td>$0.00</td>
                                    </tr>*@
                                <tr>
                                    <td colspan="2"></td>
                                    <td>GRAND TOTAL</td>
                                    <td>$ @Model.Total</td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="thanks">Thank you!</div>
                        @*<div class="notices">
                                <div>NOTICE:</div>
                                <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                            </div>*@
                    </main>
                    <footer>
                        Invoice was created on a computer and is valid without the signature and seal.
                    </footer>
                </div>
                <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                <div></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/order/order-list.js"></script>
}
