@model SATNET.WebApp.Models.CreateCustomerModel
@*@{
        var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    }*@

<!-- Main content -->
<form method="post" data-ajax="true" asp-controller="Customer" asp-action="Edit" data-ajax-method="post"
      enctype="multipart/form-data" id="formAdd" autocomplete="off">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Edit Customer
                    <div class="page-title-subheading">
                        Please fillout following form
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <a href="@String.Format("/{0}", "Customer/Index")" class=" btn btn-danger">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-default">Save Customer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.CustomerModel.Id)

        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.CustomerModel.Name, new { })
                @Html.EditorFor(model => model.CustomerModel.Name, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Name", @type = "text" } })
                @Html.ValidationMessageFor(model => model.CustomerModel.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.CustomerModel.ShortName, new { })
                @Html.EditorFor(model => model.CustomerModel.ShortName, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Short Name", @type = "text" } })
                @Html.ValidationMessageFor(model => model.CustomerModel.ShortName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.CustomerModel.Code, new { })
                @Html.EditorFor(model => model.CustomerModel.Code, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Code", @type = "text" } })
                @Html.ValidationMessageFor(model => model.CustomerModel.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerModel.PriceTierId, new { })
                @Html.DropDownListFor(model => model.CustomerModel.PriceTierId, new SelectList(Model.PriceTier as System.Collections.IEnumerable, "Id", "Name"), "-Select Customer Type-", new { @class = "form-control select2 text-input" })
                @Html.ValidationMessageFor(model => model.CustomerModel.PriceTierId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.Label("Accounting Email")
                @Html.EditorFor(model => model.CustomerModel.Email, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Email", @type = "text" } })
                @Html.ValidationMessageFor(model => model.CustomerModel.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.CustomerModel.Address, new { })
                @Html.EditorFor(model => model.CustomerModel.Address, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Address", @type = "text" } })
            </div>
        </div>
    </div>
</form>

<!-- /.Main content -->

<script language="javascript" type="text/javascript">
    //$.validator.unobtrusive.parse('#formAdd');

</script>
