@model SATNET.WebApp.Models.HardwareModel
@*@{
        var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    }*@

<!-- Main content -->
<form method="post" data-ajax="true" asp-controller="Hardware" asp-action="Edit" data-ajax-method="post"
      enctype="multipart/form-data" id="formAdd" autocomplete="off">
    @Html.HiddenFor(model => model.HardwareId)
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Edit Hardware
                    <div class="page-title-subheading">
                        Please fillout following form
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <a href="@String.Format("/{0}", "Hardware/Reset")" class=" btn btn-danger right-pan">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-default">Save Record</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.ModemSerialNo, new { })
                @Html.EditorFor(model => model.ModemSerialNo, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Modem Sr No ", @type = "text" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.ModemModel, new { })
                @Html.EditorFor(model => model.ModemModel, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Modem Model", @type = "text" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.MACAirNo, new { })
                @Html.EditorFor(model => model.MACAirNo, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "MAC", @type = "text" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.AntennaSrNo, new { })
                @Html.EditorFor(model => model.AntennaSrNo, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Antenna Sr No", @type = "text" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.AntennaSize, new { })
                @Html.EditorFor(model => model.AntennaSize, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Antenna Size", @type = "text" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.TransceiverWAAT, new { })
                @Html.EditorFor(model => model.TransceiverWAAT, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Transceiver WAAT", @type = "text" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.TransceiverSrNo, new { })
                @Html.EditorFor(model => model.TransceiverSrNo, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Transceiver Sr No", @type = "text" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.Price, new { })
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Price", @type = "decimal" } })
            </div>
        </div>
    </div>
</form>

<!-- /.Main content -->

<script language="javascript" type="text/javascript">
    $.validator.unobtrusive.parse('#formAdd');

</script>
