@model SATNET.WebApp.Models.CreateResellerModel
@*@{
        var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    }*@

<!-- Main content -->
@*@await Component.InvokeAsync("ContentHead", @Model.MenuModel)*@
<form method="post" data-ajax="true" asp-controller="Reseller" asp-action="Add" data-ajax-method="post"
      enctype="multipart/form-data" id="formAdd" autocomplete="off">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Add Reseller
                    <div class="page-title-subheading">
                        Please fillout following form
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <a href="@String.Format("/{0}", "Reseller/Reset")" class=" btn btn-danger right-pan">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-default">Save Record</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.ResellerModel.RName, new { })
                @Html.EditorFor(model => model.ResellerModel.RName, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Name", @type = "text" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                @Html.LabelFor(model => model.ResellerModel.RType, new { })
                @Html.DropDownListFor(model => model.ResellerModel.RTypeId, new SelectList(Model.ResellerType as System.Collections.IEnumerable, "Id", "Name"), "-Select Reseller Type-", new { @class = "form-control select2 text-input" })

            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.ResellerModel.REmail, new { })
                @Html.EditorFor(model => model.ResellerModel.REmail, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Email", @type = "text" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.ResellerModel.RAddress, new { })
                @Html.EditorFor(model => model.ResellerModel.RAddress, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Address", @type = "text" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.ResellerModel.RContactNumber, new { })
                @Html.EditorFor(model => model.ResellerModel.RContactNumber, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Contact", @type = "type" } })
            </div>
        </div>
    </div>
</form>


<!-- /.Main content -->

<script language="javascript" type="text/javascript">
    $.validator.unobtrusive.parse('#formAdd');

</script>
