<li>
    <a href="@Url.Action("Index","Home")" class="">
        <i class="metismenu-icon icofont-contrast"></i> Dashboard
    </a>
</li>
@*Logistics*@
<li>
    <a href="" class="">
        <i class="metismenu-icon icofont-truck-loaded"></i> Logistics
        <i class="metismenu-state-icon icofont-simple-down caret-left"></i>
    </a>
    <ul class="vertical-nav-menu">
        <li>

            <a href="@Url.Action("Index","LogisticsAIRMAC")" class="">
                <i class="metismenu-icon icofont-library"></i> AIRMAC
            </a>
            <a href="@Url.Action("Index","LogisticsAIRMACReg")" class="">
                <i class="metismenu-icon icofont-library"></i> Registered AIRMACs
            </a>
            <a href="@Url.Action("Index","LogisticBUC")" class="">
                <i class="metismenu-icon icofont-library"></i> BUC
            </a>
            <a href="@Url.Action("Index","LogisticBUCReg")" class="">
                <i class="metismenu-icon icofont-library"></i> Registered BUCs
            </a>

        </li>
    </ul>
</li>
