<li>
    <a href="@Url.Action("Index","Home")" class="">
        <i class="metismenu-icon icofont-contrast"></i> Dashboard
    </a>
</li>
@*//Site Monitor*@
<li>
    <a href="@Url.Action("Index", "Site")" class="">
        <i class="metismenu-icon icofont-site-map"></i> Site Monitor
    </a>
</li>
@*//Service Orders*@
<li>
    <a href="@String.Format("/{0}", "Order")" class="">
        <i class="metismenu-icon icofont-shopping-cart"></i> Service Orders
    </a>
</li>
@*//Billing*@
<li>
    <a href="" class="">
        <i class="metismenu-icon icofont-bill"></i> Billing
        <i class="metismenu-state-icon icofont-simple-down caret-left"></i>
    </a>
    <ul class="vertical-nav-menu">
        <li>
            <a href="@String.Format("/{0}", "SOInvoice")" class="" title="View Service Order Invoices">
                <i class="metismenu-icon icofont-bill"></i> Service Order Invoices
            </a>
            <a href="@String.Format("/{0}", "MRCInvoice")" class="" title="View Service Order Invoices">
                <i class="metismenu-icon icofont-bill"></i> MRC Invoices
            </a>
            <a href="@String.Format("/{0}", "CreditNote")" class="" title="View Service Order Credit Notes">
                <i class="metismenu-icon icofont-bill"></i>Service Order Credit Notes
            </a>
            <a href="#" class="" title="View Hardware Order Invoices">
                <i class="metismenu-icon icofont-bill"></i>Purchase Order Invoices
            </a>
        </li>
    </ul>
</li>
@*//Reports*@
<li>
    <a href="" class="">
        <i class="metismenu-icon icofont-look"></i> Reports
        <i class="metismenu-state-icon icofont-simple-down caret-left"></i>
    </a>
    <ul class="vertical-nav-menu">
        <li>
            <a href="@String.Format("/{0}", "Reporting/GetSiteLedgerReport")" class="" title="View Service Order Invoices">
                <i class="metismenu-icon icofont-bill"></i> Site Ledger
            </a>
            @* <a href="@String.Format("/{0}", "Reporting/GetReceivableByCategoryReport")" class="" title="View Service Order Invoices">
                    <i class="metismenu-icon icofont-bill"></i> Receivable per Category
                </a>*@
        </li>
    </ul>
</li>
@*//Systems Log*@
<li>
    <a href="@Url.Action("Index", "SystemLogs")" class="">
        <i class="metismenu-icon icofont-telescope"></i> System Logs
    </a>
</li>