@model SATNET.WebApp.Models.SiteModel
@*@{
        var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    }*@

<!-- Main content -->

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>
                Site Detail
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <a href="@String.Format("/{0}", "Site/Index")" class=" btn btn-danger ">
                    Back
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-lg-6">
        <div class="position-relative form-group">
            @Html.LabelFor(model => model.Name, new { })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control text-input", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative form-group">
            @Html.LabelFor(model => model.Status, new { })
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control text-input", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative form-group">
            @Html.LabelFor(model => model.City, new { })
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control text-input", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative form-group">
            @Html.LabelFor(model => model.Area, new { })
            @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control text-input", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative form-group">
            @Html.LabelFor(model => model.SubscriberName, new { })
            @Html.EditorFor(model => model.SubscriberName, new { htmlAttributes = new { @class = "form-control text-input", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative form-group">
            @Html.LabelFor(model => model.Promotion, new { })
            @Html.EditorFor(model => model.Promotion, new { htmlAttributes = new { @class = "form-control text-input", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative form-group">
            @Html.LabelFor(model => model.ServicePlanType, new { })
            @Html.EditorFor(model => model.ServicePlanType, new { htmlAttributes = new { @class = "form-control text-input", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative form-group">
            @Html.LabelFor(model => model.ServicePlan, new { })
            @Html.EditorFor(model => model.ServicePlan, new { htmlAttributes = new { @class = "form-control text-input", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative form-group">
            @Html.LabelFor(model => model.ActivationDate, new { })
            @Html.EditorFor(model => model.ActivationDate, new { htmlAttributes = new { @class = "form-control text-input", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-lg-6">
        <div class="position-relative form-group">
            @Html.LabelFor(model => model.NextBillingDate, new { })
            @Html.EditorFor(model => model.NextBillingDate, new { htmlAttributes = new { @class = "form-control text-input", @readonly = "readonly" } })
        </div>
    </div>
</div>

<!-- /.Main content -->

