@model IEnumerable<SATNET.WebApp.Models.HardwareComponentModel>
@using SATNET.Domain.Enums;
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="table-responsive dataTables_wrapper dt-bootstrap4 mt-2">
    <table id="grid_table" class="align-middle  table table-sm table-hover dataTable" role="grid" aria-describedby="">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th> @Html.DisplayNameFor(model => model.HardwareTypeId) </th>
                <th> @Html.DisplayNameFor(model => model.HCValue) </th>
                <th class="text-center"> Actions </th>
            </tr>
        </thead>

        <tbody>
            @{
                int counter = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center text-muted">
                        @{
                            counter++;
                        }
                        @counter
                    </td>
                    <td> @Html.DisplayFor(modelItem => item.HardwareType)</td>
                    <td> @Html.DisplayFor(modelItem => item.HCValue)</td>
                    <td class="text-center">
                        <div class="buttons">
                            @if (item.HardwareTypeId != Convert.ToInt32(HardwareType.Kit))
                            {
                                <a href="@String.Format("/{0}?id={1}", "HardwareComponent/Edit", item.Id)" class="pl-1 pr-1">
                                    <span class="fa fa-edit" aria-hidden="true"></span>
                                </a>
                            }
                            @*@if (item.HardwareTypeId == Convert.ToInt32(HardwareType.Kit) ||
                           item.HardwareTypeId == Convert.ToInt32(HardwareType.Spare))
                            {
                                <a href="@String.Format("/{0}?id={1}", "HardwareComponent/HCPriceList", item.Id)" class="pl-1 pr-1">
                                    <span class="fa fa-tag" aria-hidden="true"></span>
                                </a>
                            }*@


                            <a href="@String.Format("/{0}?id={1}", "HardwareComponent/Delete", item.Id)" class="pl-1 pr-1 modal-pan"
                                   data-toggle="modal" data-target="#modal-deleteConfirm">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

