<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">

    <title>Universal SatNet</title>

    <link rel="stylesheet" type="text/css" href="~/Themes/QMSN/Resources/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Themes/QMSN/Resources/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/Themes/QMSN/Resources/css/icofont.css" />
    @*<link href="./main.css?<?php echo date('l jS \of F Y h:i:s A'); ?>" rel="stylesheet">*@
    <!-- summernote -->
    <link rel="stylesheet" href="~/Themes/Default/Resources/plugins/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="~/Themes/Default/Resources/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Themes/Default/Resources/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Themes/Default/Resources/plugins/fontawesome-free/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- Toastr -->
    <link rel="stylesheet" href="~/Themes/Default/Resources/plugins/toastr/toastr.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/Themes/QMSN/Resources/js/jquery/jquery.min.js"></script>


    <script src="~/Themes/QMSN/Resources/js/main.js"></script>

    <!-- custom css at project level -->
    <link href="~/css/custom.css" rel="stylesheet" />
</head>
<body>
    @using Microsoft.AspNetCore.Authorization
    @inject IAuthorizationService AuthorizationService
    <div class="app-container app-theme-white body-tabs-shadow1 fixed-sidebar fixed-header fixed-footer">
        <!-- Top Header -->
        <div class="app-header">
            <div class="app-header__logo">
                <a href="@Url.Action("Index","Home")">

                    <div class="logo-src"><img src="~/Themes/QMSN/Resources/img/logo-icon.png" style="height:50px" /> </div>

                </a>

                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    <!-- <div class="search-wrapper">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="Type to search">
                        <button class="search-icon"><span></span></button>
                    </div>
                    <button class="close"></button>
                </div> -->
                    <ul class="header-menu nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">

                            </a>
                        </li>

                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </div>
        <!-- Top Header -->
        <div class="app-main">
            <!-- SideMenu -->
            <div class="app-sidebar  ">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar ps ps--active-y">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">Billing System</li>
                            <li>
                                <a href="@Url.Action("Index","Home")" class="">
                                    <i class="metismenu-icon icofont-contrast"></i> Dashboard
                                </a>
                            </li>
                            @if (!User.IsInRole("Logistics"))
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Site")" class="">
                                        <i class="metismenu-icon icofont-site-map"></i> Site Monitor
                                    </a>
                                </li>

                                <li>
                                    <a href="@String.Format("/{0}", "Order")" class="">
                                        <i class="metismenu-icon icofont-shopping-cart"></i> Service Orders
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Customer")" class="">
                                        <i class="metismenu-icon icofont-architecture-alt"></i> Customers
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="">
                                        <i class="metismenu-icon icofont-wifi-router"></i> Hardware
                                        <i class="metismenu-state-icon icofont-simple-down caret-left"></i>
                                    </a>
                                    <ul class="vertical-nav-menu">
                                        <li>

                                            @*<a href="@Url.Action("Index","Hardware")" class="">
                                                <i class="metismenu-icon icofont-library"></i> Manage Hardwares
                                            </a>*@
                                            <a href="@Url.Action("Index","HardwareMM")" class="">
                                                <i class="metismenu-icon icofont-library"></i> Manage Modem Model
                                            </a>
                                            <a href="@Url.Action("Index","HardwareSN")" class="">
                                                <i class="metismenu-icon icofont-library"></i> Manage Modem Serial Number
                                            </a>
                                            <a href="@Url.Action("Index","HardwareMAN")" class="">
                                                <i class="metismenu-icon icofont-library"></i> Manage MAC Air Numner
                                            </a>
                                            <a href="@Url.Action("Index","HardwareAS")" class="">
                                                <i class="metismenu-icon icofont-library"></i> Manage Antenna Size
                                            </a>
                                            <a href="@Url.Action("Index","HardwareTW")" class="">
                                                <i class="metismenu-icon icofont-library"></i> Manage Transceiver WATT
                                            </a>
                                            <a href="#" class="">
                                                <i class="metismenu-icon icofont-contrast"></i> Manage Hardware Pricelists
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" class="">
                                        <i class="metismenu-icon icofont-library"></i> Service Plan
                                        <i class="metismenu-state-icon icofont-simple-down caret-left"></i>
                                    </a>
                                    <ul class="vertical-nav-menu">
                                        <li>
                                            <a href="@Url.Action("Index", "ServicePlan")" class="">
                                                <i class="metismenu-icon icofont-library"></i> Manage Plan
                                            </a>
                                            <a href="@Url.Action("Index", "ServicePlanPrice")" class="">
                                                <i class="metismenu-icon icofont-contrast"></i> Manage Plan Pricelist
                                            </a>
                                            <a href="@Url.Action("Index","PlanType")" class="">
                                                <i class="metismenu-icon icofont-library"></i> Manage Plan Type
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="" class="">
                                        <i class="metismenu-icon icofont-network"></i> IP
                                        <i class="metismenu-state-icon icofont-simple-down caret-left"></i>
                                    </a>
                                    <ul class="vertical-nav-menu">
                                        <li>
                                            <a href="#" class="">
                                                <i class="metismenu-icon icofont-library"></i> Manage IPs
                                            </a>
                                            <a href="#" class="">
                                                <i class="metismenu-icon icofont-contrast"></i>Manage IPs Pricelists
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" class="">
                                        <i class="metismenu-icon icofont-coins"></i> Token
                                        <i class="metismenu-state-icon icofont-simple-down caret-left"></i>
                                    </a>
                                    <ul class="vertical-nav-menu">
                                        <li>
                                            <a href="#" class="">
                                                <i class="metismenu-icon icofont-library"></i> Manage Tokens
                                            </a>
                                            <a href="#" class="">
                                                <i class="metismenu-icon icofont-contrast"></i>Manage Token Pricelists
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" class="">
                                        <i class="metismenu-icon icofont-sale-discount"></i> Promotion
                                    </a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "User")" class="">
                                        <i class="metismenu-icon icofont-user"></i> User
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Side Menu -->
            <div class="app-main__outer">
                <div class="app-main__inner" id="MainContents">
                    @RenderBody()
                </div>

                <!-- Footer -->
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            <div class="app-footer-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            <!-- Metis Pvt. Int. -->
                                        </a>
                                    </li>
                                    <!-- <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">
                                    <img src="assets/images/govt-pakistan-logo.png" height="30" />
                                    </a>
                                </li> -->
                                </ul>
                            </div>
                            <div class="app-footer-right">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">

                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            <div class="badge badge-default mr-1 ml-0">
                                                <small>Copyright © 2020   </small>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
            </div>

        </div>

        <div class="modal" id="modal-deleteConfirm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Delete Confirmation</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a href="" class="pl-1 pr-1 right-pan">
                            <span class="fa fa-warning text-danger delete-icon" aria-hidden="true"></span>
                        </a>
                        <i class="fa fa-warning text-danger delete-icon"></i>
                        <p>Are you sure you want to delete this record?</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info" id="deleteConfirmSubmit" data-dismiss="modal">Proceed</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>

        <div class="modal" id="modal-orderdetails">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Service Order Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b>Order Number</b>
                        <p id="pOrderNo"></p>
                        <hr />
                        <b>Request Type</b>
                        <p id="pRequestType"></p>
                        <hr />
                        <b>Customer Name</b>
                        <p id="pCustomerName"></p>
                        <hr />
                        <b>Site Name</b>
                        <p id="pSiteName"></p>
                        @*<hr>
                        <div id="divActivation">
                            <h6>New Site Details</h6>
                            <hr>
                            <p id="pSiteName"></p>
                            <p id="pSiteCity"></p>
                            <p id="pSiteArea"></p>
                            <p id="pSiteInstallationDate"></p>
                            <p id="pSiteServicePlan"></p>
                            <p id="pSiteIP"></p>
                            <h6>Hardware</h6>
                            <hr>
                            <p id="pHardwareMacAirNo"></p>
                            <h6>Subscriber</h6>
                            <p id="pSubscrberName"></p>
                            <p id="pSubscriberCity"></p>
                            <p id="pSubscriberEmail"></p>
                            <p id="pSubscriberArea"></p>
                            <p id="pSubscriberNotes"></p>
                        </div>
                        <div id="divReActivation">
                            <h6>Re Activation</h6>
                            <p></p>
                        </div>
                        <div id="divDowngrade">
                            <h6>Downgrade</h6>
                            <p></p>
                        </div>
                        <div id="divUpgrade">
                            <h6>Upgrade</h6>
                            <p></p>
                        </div>*@
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>

        <div class="modal" id="modal-rejectOrderConfirm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Reject Service Order</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please specify reason.</p>
                        <textarea id="txtRejectReason" rows="5" cols="63"></textarea>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info" id="btnRejectOrder" data-dismiss="modal">Proceed</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>

        <div class="modal" id="modal-rejectreason">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Reason for Service Order Rejection</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>

    </div>

    <!-- ./wrapper -->
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Themes/Default/Resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    @*<script src="~/Themes/Default/Resources/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/Themes/Default/Resources/plugins/moment/moment.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Themes/Default/Resources/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Themes/Default/Resources/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Themes/Default/Resources/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/Themes/Default/Resources/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Themes/Default/Resources/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Themes/Default/Resources/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Themes/Default/Resources/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <!-- Toastr -->
    <script src="~/Themes/Default/Resources/plugins//toastr/toastr.min.js"></script>
    <script src="~/Themes/QMSN/Resources/js/popper.min.js"></script>

    <script src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
