@model IEnumerable<SATNET.WebApp.Models.Hardware.HardwareComponentRegistrationModel>
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

    <div class="row">
        <div class="col-md-12">
            @{
                string label_value = "";
                string label_style = "";
                if (Model.Any())
                {
                    if (Model.Where(c => c.BriefDescription.Contains("NUMBER NOT EXISTS") || c.BriefDescription.Contains("ALREADY ASSIGNED")).ToList().Count > 0)
                    {
                        label_value = "ERROR IN FILE!";
                        label_style = "color:red";
                    }
                    else
                    {
                        label_value = "FILE IMPORT SUCCESSFULLY!";
                        label_style = "color:green";
                    }
                }
            }
            <label id="import_state_label" style="@label_style">
                @label_value
            </label>
        </div>
    </div>
    <div class="table-responsive dataTables_wrapper dt-bootstrap4 mt-2">
        <table id="import_grid_table" class="align-middle  table table-sm table-hover dataTable" role="grid" aria-describedby="">
            <thead>
                <tr>
                    @*<th class="text-center" width="30">
        </th>*@
                    <th style="width:10%" class="text-center">#</th>
                    <th style="width:10%"> Model </th>
                    <th style="width:15%"> @Html.DisplayNameFor(model => model.AIRMAC) </th>
                    <th style="width:15%"> @Html.DisplayNameFor(model => model.SerialNumber) </th>
                    <th style="width:15%"> @Html.DisplayNameFor(model => model.CustomerName) </th>
                    <th>  </th>
                </tr>
            </thead>

            <tbody>
                @{
                    int counter = 0;

                }
                @foreach (var item in Model)
                {
                <tr>
                    @*<td class="text-center"> <input type="checkbox"></td>*@
                    @{
                        string backgroundClass = "";
                        if (item.BriefDescription.Contains("NUMBER NOT EXISTS") || item.BriefDescription.Contains("ALREADY ASSIGNED"))
                        {
                            backgroundClass = "td-color";
                        }
                    }
                    <td class="text-center text-muted">
                        @{
                            counter++;
                        }
                        @counter
                    </td>
                    <td class="@backgroundClass"> @Html.DisplayFor(modelItem => item.HardwareComponent)</td>
                    <td class="@backgroundClass"> @Html.DisplayFor(modelItem => item.AIRMAC)</td>
                    <td class="@backgroundClass"> @Html.DisplayFor(modelItem => item.SerialNumber)</td>
                    <td class="@backgroundClass"> @Html.DisplayFor(modelItem => item.CustomerName)</td>
                    @{
                        if (item.BriefDescription.Contains("NUMBER NOT EXISTS") || item.BriefDescription.Contains("ALREADY ASSIGNED"))
                        {
                            <td> @Html.DisplayFor(modelItem => item.BriefDescription)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
                }


            </tbody>
        </table>

    </div>

<script type="text/javascript">

</script>