@page
@model LoginModel


    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.Input.UserName, new { @class = "sr-only" })
            @Html.EditorFor(model => model.Input.UserName, new { htmlAttributes = new { @class = "form-control field", @placeholder = "Email", @type = "email" } })
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Input.Password, new { @class = "sr-only" })
            @Html.EditorFor(model => model.Input.Password, new { htmlAttributes = new { @class = "form-control field", @placeholder = "Password", @type = "password" } })
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group clearfix">
            <div class="checkbox-custom checkbox-inline pull-left">
                @Html.EditorFor(model => model.Input.RememberMe, new { htmlAttributes = new { @type = "checkbox" } })
                @Html.LabelFor(model => model.Input.RememberMe, new { @class = "sr-only" })
                
            </div>
            <a class="pull-right" href="">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-dark btn-round btn-lg  btn-block btn-default ">Sign in</button>
    </form>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
