@model IEnumerable<SATNET.WebApp.Models.HardwareKitModel>
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="table-responsive dataTables_wrapper dt-bootstrap4 mt-2">
    <table id="grid_table" class="align-middle  table table-sm table-hover dataTable" role="grid" aria-describedby="">
        <thead>
            <tr>
                @*<th class="text-center" width="30">
        </th>*@
                <th class="text-center">#</th>

                <th> @Html.DisplayNameFor(model => model.KitName) </th>
                <th> @Html.DisplayNameFor(model => model.ModemModelId) </th>
                <th> @Html.DisplayNameFor(model => model.AntennaMeterId) </th>
                <th> @Html.DisplayNameFor(model => model.PowerWATT) </th>
                <th> @Html.DisplayNameFor(model => model.NPRMPieces) </th>
                <th> @Html.DisplayNameFor(model => model.RG6) </th>
                <th> @Html.DisplayNameFor(model => model.ConnectorPieces) </th>
                @*<th> @Html.DisplayNameFor(model => model.LookupTypeName) </th>*@
                <th class="text-center"> Actions </th>
            </tr>
        </thead>

        <tbody>
            @{
                int counter = 0;
            }
            @foreach (var item in Model)
            {
            <tr>
                @*<td class="text-center"> <input type="checkbox"></td>*@
                <td class="text-center text-muted">
                    @{
                        counter++;
                    }
                    @counter
                </td>
                <td> @Html.DisplayFor(modelItem => item.KitName)</td>
                <td> @Html.DisplayFor(modelItem => item.ModemModel)</td>
                <td> @Html.DisplayFor(modelItem => item.AntennaMeter)</td>
                <td> @Html.DisplayFor(modelItem => item.PowerWATT)</td>
                <td> @Html.DisplayFor(modelItem => item.NPRMPieces)</td>
                <td> @Html.DisplayFor(modelItem => item.RG6)</td>
                <td> @Html.DisplayFor(modelItem => item.ConnectorPieces)</td>
                @*<td> @Html.DisplayFor(modelItem => item.LookupTypeName)</td>*@
                <td class="text-center">
                    <div class="buttons">
                        <a href="@String.Format("/{0}?id={1}", "HardwareKit/Edit", item.Id)" class="pl-1 pr-1">
                            <span class="fa fa-edit" aria-hidden="true"></span>
                        </a>
                        <a href="@String.Format("/{0}?id={1}", "HardwareKit/Delete", item.Id)" class="pl-1 pr-1 modal-pan"
                           data-toggle="modal" data-target="#modal-deleteConfirm">
                            <span class="fa fa-trash" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
            </tr>
            }


        </tbody>
    </table>

</div>

