@model IEnumerable<SATNET.WebApp.Models.User.UserViewModel>

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="table-responsive dataTables_wrapper dt-bootstrap4 mt-2">
    <table id="grid_table" class="align-middle  table table-sm table-hover dataTable" role="grid" aria-describedby="">
        <thead>
            <tr>
                <th> Full Name</th>
                <th> Email </th>
                <th> Roles </th>
                <th>User Type</th>
                <th>Customer Name</th>
                <th class="text-center"> Actions </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                @*@if (item.Roles.Contains("Admin"))
                {
                    continue;
                }*@
            <tr>
                <td> @item.FullName</td>
                <td> @item.Email </td>
                <td>
                    @if (item.Roles.Any())
                    {
                        <ul class="list-unstyled">
                            @foreach (var role in item.Roles)
                            {
                                <li>@role</li>
                            }
                        </ul>
                    }
                </td>
                <td> @item.UserTypeName</td>
                <td> @item.CustomerName</td>
                <td class="text-center">
                    <div class="buttons">
                        <a href="@String.Format("/{0}?id={1}", "User/Edit", item.Id)" class="pl-1 pr-1">
                            <span class="fa fa-edit" aria-hidden="true"></span>
                        </a>
                        <a href="@String.Format("/{0}?id={1}", "User/Delete", item.Id)" class="pl-1 pr-1 modal-pan"
                           data-toggle="modal" data-target="#modal-deleteConfirm">
                            <span class="fa fa-trash" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
            </tr>
            }


        </tbody>
    </table>

</div>



