@model SATNET.WebApp.Models.DistributorUserViewModel
@*@{
        var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    }*@

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Heading</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Menu</a></li>
                    <li class="breadcrumb-item active">Heading</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content" id="MainContent">
    <div class="card card-primary">

        <!-- /.card-header -->
        <!-- form start -->

        <form method="post" data-ajax="true" asp-controller="DistributorUser" asp-action="Add" data-ajax-method="post" data-ajax-complete="completed" 
              enctype="multipart/form-data" id="formAdd" autocomplete="off" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Name" } })

                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.DistributorId, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.LastName, new SelectList(Model.customList, "Value", "Text"), "-Select Paarent-", new { @class = "form-control select2 text-input" })


                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Password, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
                </div>
            </div>
        </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</section>
<!-- /.Main content -->


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        console.log("ready!");
    });

    $(function () {
        $("#formAdd").submit(function (e) {
            
            $.post($(this).attr("action"),
                $(this).serialize(),
                function (data) {
                    console.log(data);
                    $("#BodyContent").html(data.html);
                });
            e.preventDefault();
        });
    });
</script>