@model SATNET.WebApp.Models.Hardware.CreateHardwareComponentRegistrationModel
@*@{
        var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    }*@

<!-- Main content -->
@*@await Component.InvokeAsync("ContentHead", @Model.MenuModel)*@
<form method="post" data-ajax="true" asp-controller="HardwareComponentRegistration" asp-action="Add" data-ajax-method="post"
      enctype="multipart/form-data" id="formAdd" autocomplete="off">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Add Hardware Model Registration
                    <div class="page-title-subheading">
                        Please fillout following form
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <a href="@String.Format("/{0}", "HardwareComponentRegistration/Index")" class=" btn btn-danger">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-default">Save Hardware Model Registration</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.HardwareComponentRegistrationModel.SerialNumbers)
        <div class="col-lg-4">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.HardwareComponentRegistrationModel.HardwareTypeId, new { })
                @Html.DropDownListFor(model => model.HardwareComponentRegistrationModel.HardwareTypeId, new SelectList(Model.HardwareTypes as System.Collections.IEnumerable, "Id", "Name"), "--SELECT HARDWARE TYPE--", new { @class = "form-control select2 text-input" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.HardwareComponentRegistrationModel.HardwareComponentId, new { })
                @Html.DropDownListFor(model => model.HardwareComponentRegistrationModel.HardwareComponentId, new SelectList(Model.HardwareComponentList as System.Collections.IEnumerable, "Id", "HCValue"), "--SELECT HARDWARE COMPONENT--", new { @class = "form-control select2 text-input" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.HardwareComponentRegistrationModel.HCRegistrationNumber, new { })
                @Html.EditorFor(model => model.HardwareComponentRegistrationModel.HCRegistrationNumber, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Registration Number", @type = "text" } })
            </div>
        </div>
    </div>
    <div class="row">
        <h5 class="title">Add Hardware Model Item</h5>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.HardwareComponentRegistrationModel.SerialNumber, new { })
                @Html.EditorFor(model => model.HardwareComponentRegistrationModel.SerialNumber, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Serial Number", @type = "text" } })
                <span class="help-block text-danger" id="label_error"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="position-relative form-group">
                @Html.LabelFor(model => model.HardwareComponentRegistrationModel.AIRMAC, new { id = "label_item" })
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.HardwareComponentRegistrationModel.AIRMAC, new { htmlAttributes = new { @class = "form-control text-input", @placeholder = "Unique Identifier", @type = "text" } })

                    <div class="input-group-append">
                        <button class="btn-info add_hm_item" type="button">Save</button>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <h5 class="title">Hardware Model List</h5>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive dataTables_wrapper dt-bootstrap4 mt-2">
                <table id="grid_table" class="align-middle  table table-sm table-hover dataTable" role="grid" aria-describedby="">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th> @Html.DisplayName("Serial Number") </th>
                            <th id="table_header_section_type"> Unique Identifier </th>
                            <th class="text-center"> Actions </th>
                        </tr>
                    </thead>
                    <tbody id="reg_table_body">
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</form>


<!-- /.Main content -->

<script language="javascript" type="text/javascript">
    //$.validator.unobtrusive.parse('#formAdd');
    var grid_obj_array = [];
    var edit_flag = -1;
    var edit_record_index = -1;
    var specs_seperator = '---';
    var node_object_key = 'node_object';
    var section_type = '';
    $('#HardwareComponentRegistrationModel_HardwareTypeId').change(function () {
        var hardware_type = $('#HardwareComponentRegistrationModel_HardwareTypeId').val();
        console.log(typeof (hardware_type));
        if (hardware_type != undefined) {
            
            $.ajax({
                url: '/HardwareComponentRegistration/GetHardwareComponetByHardwareType',
                type: "POST",
                data: { hardware_type_id: hardware_type },
                dataType: "json",
                error: function (response) {
                },
                success: function (response) {
                    payment_filter_list = response;
                    //console.log(response);
                    var options = "<option value'>--SELECT HARDWARE COMPONENT--</option>";
                    //"<option value=''>--SELECT " + retModel.Column + "--</option>";
                    $.each(response, function (i, plan) {
                        options += "<option value='" + plan.id + "'>" + plan.hcValue + "</option>";//selected='selected'
                    });
                    $('#HardwareComponentRegistrationModel_HardwareComponentId').empty().append(options);
                    var hardware_type = $('#HardwareComponentRegistrationModel_HardwareTypeId option:selected').text();
                    if (hardware_type.toUpperCase().indexOf('MODE') > -1) {
                        section_type = 'AIR MAC NUMBER';
                        console.log(':Hardware Section');
                    } else if (hardware_type.toUpperCase().indexOf('TRANS') > -1) {
                        section_type = 'BUC MODEL';
                        console.log('Transceiver Section');
                    }
                    else {
                        console.log(hardware_type.toUpperCase().indexOf('MODE') + 'Unique Identifier');
                    }
                    //if () { }

                    $('#HardwareComponentRegistrationModel_AIRMAC').attr('placeholder', section_type);
                    $('#label_item').text(section_type);
                    $('#table_header_section_type').text(section_type);
                }
            });
        }
        
        
    });
    function record_exist_or_not(grid_array, obj) {
        var return_val = 0;
        var returnMessage = '';
        $.each(grid_array, function (i, item) {
            if (item.specsOne == obj.specsOne) {
                return_val = 1;
                returnMessage = 'Serial Number Already Exist';
                return;
            } else if (item.specsTwo == obj.specsTwo) {
                return_val = 1;
                returnMessage = section_type + ' Already Exist';
                return
            }
        });
        return [return_val, returnMessage];
    }
    function get_record_index(grid_array, obj) {
        var return_val = -1;
        $.each(grid_obj_array, function (i, item) {
            if (item.specsOne == obj.specsOne && item.specsTwo == obj.specsTwo) {
                return_val = i;
                return;
            }
        });
        return return_val;
    }
    $(document).on('click', '.add_hm_item', function () {
        var specsOne = $('#HardwareComponentRegistrationModel_SerialNumber').val().toUpperCase();
        var specsTwo = $('#HardwareComponentRegistrationModel_AIRMAC').val().toUpperCase();
        //console.log(serialNo + ':' + AIRMAC);
        var grid_obj_item = {
            specsOne: specsOne,
            specsTwo: specsTwo
        }
        if (specsOne == '') {
            console.log('Specs One');
            $('#label_error').text('Serial Number should not be empty');
        } else if (specsTwo == '') {
            console.log('Specs Two');
            $('#label_error').text(section_type + ' should not be empty');
        }
        else {
            //---Check Record Exist in Grid
            var returnVal = record_exist_or_not(grid_obj_array, grid_obj_item);
            if (returnVal[0] == 0) { // Not Exist
                if (edit_flag == 1) {
                    grid_obj_array[edit_record_index] = grid_obj_item;
                }
                else {
                    grid_obj_array.push(grid_obj_item);
                }
                console.log(grid_obj_array);
                load_table(grid_obj_array);
                reset_config();
            }
            else { //Exist
                $('#label_error').text(returnVal[1]);
                if (edit_flag == 1) {
                    grid_obj_array[edit_record_index] = grid_obj_item;
                    alert('Why there');
                }
            }
            
        }
        
    });
    $(document).on('click', '.row_edit', function () {
        var grid_obj = $(this).attr('data-' + node_object_key);
        grid_obj = JSON.parse(grid_obj);
        $('#HardwareComponentRegistrationModel_SerialNumber').val(grid_obj.specsOne);
        $('#HardwareComponentRegistrationModel_AIRMAC').val(grid_obj.specsTwo);
        edit_record_index = get_record_index(grid_obj_array, grid_obj);
        console.log('index:' + edit_record_index);
        edit_flag = 1;

        //var record_value = $(this).attr('data-val');
        //edit_record_index = mac_address_array.indexOf(record_value);
        //edit_flag = 1;
        //$('#HardwareComponentRegistrationModel_SerialNumber').val(record_value);
    });
    $(document).on('click', '.row_delete', function () {
        var record_value = $(this).attr('data-val');
        mac_address_array = mac_address_array.filter(e => e !== record_value); // will return ['A', 'C']
        load_table(mac_address_array);
        reset_config();
    });
    function reset_config() {
        $('#HardwareComponentRegistrationModel_SerialNumber').val('');
        $('#HardwareComponentRegistrationModel_AIRMAC').val('');
        $('#label_error').text('');
        edit_flag = edit_record_index = -1;
    }
    function load_table(record_array) {
        var rows = '';
        $.each(record_array, function (i, item) {
            rows += add_row(item, i + 1);
        });
        $("#reg_table_body > tbody").html("");
        $('#reg_table_body').html(rows);
        $('#HardwareComponentRegistrationModel_SerialNumbers').val('');
        var specsObj = '';
        $.each(record_array, function (i, item) {
             specsObj += item.specsOne + specs_seperator + item.specsTwo + ',';
        });

        $('#HardwareComponentRegistrationModel_SerialNumbers').val(specsObj);
        
    }
    function add_row(item, record_count) {
        var row = '<tr id=row_' + record_count + '>' +
            '<td class="text-center text-muted">' + record_count + '</td>' +
            '<td> ' + item.specsOne + '</td>' +
            '<td> ' + item.specsTwo + '</td>' +
            '<td class="text-center">' +
            '<div class="buttons">' +
            '<a href="#" data-' + node_object_key + '=' + JSON.stringify(item) + ' class="pl-1 pr-1 row_edit">' +
            '<span class="fa fa-edit" aria-hidden="true"></span>' +
            '</a>' +
            '<a href="#" data-' + node_object_key + '=' + JSON.stringify(item) + ' class="pl-1 pr-1 row_delete">' +
            '<span class="fa fa-trash" aria-hidden="true"></span>' +
            '</a>' +
            '</div>' +
            '</td>' +
            '</tr>';
        return row;
    }

</script>
